/* Color Variables */
:root {
    --main-bg-color: #444;
    /* Main background color */
    --text-color: white;
    /* Text color */
    --accent-color: #ff9900;
    /* Accent color */
    --section-bg-color: #f7dfaf;
    /* Section background color */
    --alt-section-bg-color: #c0e0d8;
    /* Alternative section background color */
    --testimonial-bg-color: #f5e6cc;
    /* Testimonial section background color */
}

/* Color Variables - Forest theme
:root {
    --main-bg-color: #0c1618;
    --text-color: #ffffff;
    --accent-color: #00ff66;
    --section-bg-color: #223c3f;
    --alt-section-bg-color: #3c5c5f;
    --testimonial-bg-color: #86afb3;
}*/


/* Color Variables - Happy Sunny
:root {
    --main-bg-color: #574b0a;
    --text-color: #333;
    --accent-color: #f7931e;
    --section-bg-color: #f9e29b;
    --alt-section-bg-color: #ffd700;
    --testimonial-bg-color: #f5ecb3;
}*/

/* Color Variables - Winter vibes
:root {
    --main-bg-color: #004c6d;
    --text-color: #ffffff;
    --accent-color: #00a8cc;
    --section-bg-color: #b5e2fa;
    --alt-section-bg-color: #91c9e8;
    --testimonial-bg-color: #f1f8ff;
}*/

/* Color Variables - Automn Haloween 
:root {
    --main-bg-color: #8e5500;
    --text-color: #444;
    --accent-color: #c0e0d8;
    --section-bg-color: #c87f12;
    --alt-section-bg-color: #ffa500;
    --testimonial-bg-color: #ff6600;
}*/