:root {
    --scrollbar-bg-color: #f1f1f1;
    --scrollbar-thumb-color: #888;
    --scrollbar-thumb-hover-color: #555;
}

body {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

/* width */
body::-webkit-scrollbar {
    width: 0.7vw;
}

/* Track */
body::-webkit-scrollbar-track {
    background: var(--scrollbar-bg-color);
}

/* Handle */
body::-webkit-scrollbar-thumb {
    background: var(--scrollbar-thumb-color);
    border-radius: 6px; /* Rounded borders for the thumb */
}

/* Handle on hover */
body::-webkit-scrollbar-thumb:hover {
    background: var(--scrollbar-thumb-hover-color);
}

@media (max-width: 768px) {
    body::-webkit-scrollbar {
        display: none;
    }
}