<link rel="stylesheet" href="/css/dashboard/dashboard.css">

<div class="dashboard-header">
    <h1>Bienvenue, Administrateur</h1>
</div>

<section id="users" class="dashboard-section select">
    <a href="/dashboard/users"><ion-icon name="people-outline"></ion-icon> Gestion des utilisateurs</a>
</section>

<section id="products" class="dashboard-section select">
    <a href="/dashboard/products"><ion-icon name="pricetag-outline"></ion-icon> Gestion des produits</a>
</section>

<section id="carts" class="dashboard-section select">
    <a href="/dashboard/carts"><ion-icon name="cart-outline"></ion-icon> Gestion des paniers</a>
</section>

<section id="orders" class="dashboard-section select">
    <a href="/dashboard/orders"><ion-icon name="fast-food-outline"></ion-icon> Gestion des commandes</a>
</section>

<section id="reviews" class="dashboard-section select">
    <a href="/dashboard/reviews"><ion-icon name="mail-outline"></ion-icon> Gestion des commentaires</a>
</section>

<!-- <section id="supports" class="dashboard-section select">
    <a><ion-icon name="cart-outline"></ion-icon> Gestion de l'assistance</a>
</section>

<section id="stats" class="dashboard-section">
    <a><ion-icon name="stats-chart-outline"></ion-icon> Statistiques</a>
    <div class="section-content">
        <p>Afficher les statistiques de ventes et utilisateurs.</p>
    </div>
</section>

<section id="settings" class="dashboard-section">
    <a><ion-icon name="settings-outline"></ion-icon> Paramètres</a>
    <div class="section-content">
        <button>Modifier les paramètres</button>
        <button>Se déconnecter</button>
    </div>
</section> -->