/* Hero section styles */
#home {
    position: relative;
    background-color: var(--section-bg-color);
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

#home h1 {
    z-index: 1;
}

#home img {
    position: absolute;
    top:0;
    opacity: 0.5;
    object-fit: fill;
    z-index: 1;
    filter: brightness(110%);
    filter: contrast(110%);
}