/* Hero section styles */
#home {
    background-color: var(--section-bg-color);
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}